{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
    <div class="container">

        <div class="row">
            {% if error %}
                <div  class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}
            <div class="col-xs-12">
                <h1>Change password</h1>

                <form action="{{ path('app_change_pass') }}" method="post">
                    <div class="form-group">
                        <label for="old_password" class="control-label required">Old Password:</label>
                        <input type="password" id="old_password" name="old_password" />
                    </div>
                    <div class="form-group">
                        <label for="new_password" class="control-label required">New Password:</label>
                        <input type="password" id="new_password" name="new_password" />
                    </div>
                    <div class="form-group">
                        <label for="new_password_confirm" class="control-label required">Confirm Password:</label>
                        <input type="password" id="new_password_confirm" name="new_password_confirm" />
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}