#  docker-compose for DEV!!!

services:
  mysql:
    image: mysql:8
    volumes:
      - db-data:/var/lib/mysql/:rw
    environment:
      MYSQL_DATABASE: booking
      MYSQL_USER: booking
      MYSQL_PASSWORD: booking
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
    ports:
      - "127.0.0.1:3306:3306"

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./:/code
      - ./docker/dev/nginx/hosts:/etc/nginx/conf.d
    depends_on:
      - php

  php:
    build: docker/dev/php
    working_dir: /code
    environment:
      PHP_IDE_CONFIG: "serverName=xdebug-docker"
      XDEBUG_CONFIG: "client_host=host.docker.internal start_with_request=trigger log_level=0"
      XDEBUG_MODE: "debug"
      XDEBUG_SESSION: "PHPSTORM"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./:/code
      - ~/.ssh:/root/.ssh

  cron:
    build: docker/dev/php
    working_dir: /code
    command: [ "crond", "-f", "-d", "8" ]
    volumes:
      - ./:/code

  rabbitmq:
    image: bitnami/rabbitmq:latest
    ports:
      - 127.0.0.1:15677:15672
    environment:
      - RABBITMQ_USERNAME=rabbitmq_user
      - RABBITMQ_PASSWORD=rabbitmq_user
      - RABBITMQ_VHOST=esb

  worker:
    working_dir: /code
    build: docker/dev/php
    command: [ "php", "bin/console", "messenger:consume", "async", "-vv" ]
    restart: unless-stopped
    volumes:
      - ./:/code
    depends_on:
      - php
      - rabbitmq

volumes:
  db-data:
