<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('assets/coreui/css/coreui.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/coreui-icons/css/free.min.css') }}" rel="stylesheet">
    <title>{% block title %}Admin{% endblock %}</title>
</head>
<body class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
    {% block body %}{% endblock %}

    <script src="{{ asset('assets/coreui/js/coreui.bundle.min.js') }}"></script>
</body>
</html>
