{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {% include 'sidebar.html.twig' %}
    <div class="wrapper d-flex flex-column min-vh-100">
        {% include 'header.html.twig' %}
        <div class="body flex-grow-1">
            <div class="container-lg px-4">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% include 'footer.html.twig' %}
    </div>
    <script src="{{ asset('assets/chartjs/chart.umd.min.js') }}"></script>
    <script src="{{ asset('assets/coreui/js/coreui.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/coreui-chartjs/js/coreui-chartjs.min.js') }}"></script>
    <script src="{{ asset('assets/coreui/js/main.js') }}"></script>
{% endblock %}
