<div class="sidebar sidebar-dark sidebar-fixed border-end" id="sidebar">
    <div class="sidebar-header border-bottom">
        <div class="sidebar-brand">CoreUI</div>
    </div>
    <ul class="sidebar-nav">
        <li class="nav-title">Nav Title</li>
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <i class="nav-icon cil-speedometer"></i> Nav item
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="nav-icon cil-speedometer"></i> With badge
                <span class="badge bg-primary ms-auto">NEW</span>
            </a>
        </li>
        <li class="nav-item nav-group show">
            <a class="nav-link nav-group-toggle" href="#">
                <i class="nav-icon cil-puzzle"></i> Nav dropdown
            </a>
            <ul class="nav-group-items">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Nav dropdown item
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Nav dropdown item
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item mt-5">
            <a class="nav-link" href="https://coreui.io">
                <i class="nav-icon cil-cloud-download"></i> Download CoreUI</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://coreui.io/pro/">
                <i class="nav-icon cil-layers"></i> Try CoreUI
                <strong>PRO</strong>
            </a>
        </li>
    </ul>
    <div class="sidebar-footer border-top d-flex">
        <button class="sidebar-toggler" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggleNarrow()"></button>
    </div>
</div>
